.nav__index {
    background-color: rgba(128, 128, 128, 0.20);
    
    color: white;
    position: sticky;
    @media (max-width:550px) {
        color: map-get($map: $brand-clr, $key: primary);
    }
    .toggle-button {
        .bar {
            background-color: #fff;
        }
    }
}

.home__hero {
    margin-top: -12vh;
    background: url(../img/unit.jpg);
    
    display: grid;
    grid-template-areas:    ". . . ."
                            ". grd-title grd-stitle . "
                            ". . . ."
                            ". . . .";
    color: white;
    height: 100vh;
    
    background-color: rgba(1, 1, 17, 0.4);
    background-blend-mode: darken;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 50%;
    text-align: center;


    .home__hero--heading {
        grid-area: grd-title;
        align-self: flex-end;
        justify-self: center;
        h1 {
            color: white;
        }
        background-color: map-get($map: $brand-clr, $key: highlight);
        opacity: .8;
        
        padding: 1em;
    
    }
    .home__hero--text {
        grid-area: grd-stitle;
        
        align-self: flex-end;
        font-size: 2em;
    }

    @media (max-width: 550px) {
        
        color: map-get($map: $brand-clr, $key: primary);
        .home__hero--heading {
            margin-top: 5em;
            padding: .1em;
        }
        .home__hero--text {
            align-self: center;
        }
        background-position-x: -550px;
        grid-template-areas:    
                                " grd-title "
                                " grd-stitle ";
    }
}

.home__technology--heading {
    background-color: map-get($map: $brand-clr, $key: primary);
    
    padding: 2em;
    text-align: center;
    h1 {
        line-height: 1.1em;
        font-size: 3.3em;
        color: white;
    }
}

.home__technology {
    background: url(../img/map.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(33, 41, 92, 0.65);
    background-blend-mode: darken;
    height: 75vh;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    
    font-size: 2em;
    text-align: center;


    @media (max-width: 550px) {
        h1 {
            font-size: 1.5em;
            padding-top: 20px;
        }
        p {
           font-size: .8em;
        }
    }
}

.home__drivers {
    height: 50vh;
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    p {
        font-size: 1.7em;
    }

    .home__drivers--company {
        display: flex;
        flex-direction: column;
        background-color: map-get($map: $brand-clr, $key: highlight);
        width: 50vw;
        // height: 50vh;
        justify-content: center;
        align-items: center;
 
        .btn {
            border-radius: 10px;
            background: linear-gradient(145deg, #8e2721, #a92e28);
            box-shadow:  5px 5px 10px #7e221e, 
                         -5px -5px 10px #be342c;

            &:active {
                border-radius: 10px;
                background: #9E2B25;
                box-shadow: inset 5px 5px 10px #7e221e, 
                            inset -5px -5px 10px #be342c;
            }
        }
    }
    
    .home__drivers--owner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: map-get($map: $brand-clr, $key: primary);
        // height: 50vh;
        width: 50vw;

        .btn {
            border-radius: 10px;
            background: linear-gradient(145deg, #232c62, #1e2553);
            box-shadow:  5px 5px 10px #141937, 
                         -5px -5px 10px #2e3981;
           &:active{
            border-radius: 10px;
            background: #21295C;
            box-shadow: inset 5px 5px 10px #141937, 
                        inset -5px -5px 10px #2e3981;
           }
        }
    }

    @media (max-width:550px) {
        flex-direction: column;
        height: 100vh;
        .home__drivers--company {
            width: 100vw;
            height: 100vh;
        }
        .home__drivers--owner {
            width: 100vw;
            height: 100vh;
        }
    }
}

