.home__hero {
    background: url(../img/unit.jpg);

    display: grid;
    grid-template-areas:    ". grd-title grd-stitle . "
                            ". . . ."
                            ". . . .";
    color: white;
    height: 100vh;
    
    background-color: rgba(1, 1, 17, 0.4);
    background-blend-mode: darken;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 50%;
    text-align: center;


    .home__hero--heading {
        grid-area: grd-title;
        align-self: center;
        h1 {
            color: white;
        }
        background-color: map-get($map: $brand-clr, $key: highlight);
        opacity: .8;
        padding-left: 1em;
    
    }
    .home__hero--text {
        grid-area: grd-stitle;
        align-self: center;
        font-size: 2em;
    }

    @media (max-width: 550px) {
        grid-template-areas:    
                                ". grd-title ."
                                ". grd-stitle ."
                                ". . .";
    }
}

.home__technology--heading {
    background-color: map-get($map: $brand-clr, $key: primary);
    
    padding: 2em;
    text-align: center;
    h1 {
        line-height: 1.1em;
        font-size: 3.3em;
        color: white;
    }
}

.home__technology {
    background: url(../img/map.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(33, 41, 92, 0.65);
    background-blend-mode: darken;
    height: 75vh;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    
    font-size: 2em;
    text-align: center;


    @media (max-width: 550px) {
        h1 {
            font-size: 2.3em;
        }
        p {
           font-size: .8em;
        }
    }
    
    
}

.home__drivers {
    height: 50vh;
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    

    p {
        font-size: 1.7em;
    }


    .home__drivers--company {
        display: flex;
        flex-direction: column;
        background-color: map-get($map: $brand-clr, $key: highlight);
        width: 50vw;
        // height: 50vh;
        justify-content: center;
        align-items: center;
        
    }
    
    .home__drivers--owner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: map-get($map: $brand-clr, $key: primary);
        // height: 50vh;
        width: 50vw;

    }

    @media (max-width:550px) {
        flex-direction: column;
        height: 100vh;
        .home__drivers--company {
            width: 100vw;
            height: 100vh;
        }
        .home__drivers--owner {
            width: 100vw;
            height: 100vh;
        }
    }
}