.nav__joinus {
    .toggle-button {
        .bar {
            background-color: #fff;
        }
    }
}

.joinus__hero {
    display: grid;
    margin-top: -12vh;
    grid-template-areas: "title title title title "
                         " . . stitle stitle "
                         " . . . . "
                         " . . . . ";

    background-image: url(../img/bwtruck.jpg);
    height: 100vh;
    text-align: center;
    background-color: rgb(81, 142, 170);
    background-blend-mode: hard-light;
    background-size: cover;

    align-items: center;
    justify-content: stretch;

    .joinus__hero--title {
        grid-area: title;
        justify-self: center;
        align-self: flex-end;
    }

    .joinus__hero--desc {
        grid-area: stitle;
        justify-self: end;
        align-self: flex-end;
        background-color: map-get($map: $brand-clr, $key: primary);
        padding: .3em;
        border-radius: 10px 0px 0px 10px;
    }

}

.driver__company {
    display: flex;
    text-align: center;
  
    .driver__company--text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background-color: map-get($map: $brand-clr, $key: primary);
        width: 50vw;
        height: 75vh;
        
        ul {
            color: white;
            
            li {
                line-height: 1.5em;
            }
        }
        
    }
    .driver__company--img {
        display: flex;
        justify-content: center;
    
        background:url(../img/company-driver.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        
        width: 50vw;
        height: 75vh;

        
    }

    @media (max-width:550px) {
        flex-direction: column-reverse;
        .driver__company--img   {
            width: 100vw;
           
        }

        .driver__company--text {
            width: 100vw;
        }
    }
}

.driver__owner {
    display: flex;
    text-align: center;
  
    .driver__owner--text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background-color: map-get($map: $brand-clr, $key: primary);
        width: 50vw;
        height: 75vh;
        
        ul {
            color: white;
            
            li {
                line-height: 1.5em;
            }
        }
        
        
    }
    .driver__owner--img {
        background:url(../img/owner-driver.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: -200px;
        width: 50vw;
        height: 75vh;
   
    }

    @media (max-width:550px) {
        flex-direction: column;
        .driver__owner--img   {
            width: 100vw;
           
        }

        .driver__owner--text {
            width: 100vw;
        }
    }
}

.joinus__driver--qualification {
    background-color: map-get($map: $brand-clr, $key: highlight);
    padding: 2em;
    color: white;
    line-height: 2em;
    text-align: center;
    h2 {
        padding: .5em;
    }

    @media (max-width: 550px) {
        h2 {
            font-size: 2.5em;
        }
    }
}

.driver__owner,
.driver__company {
    .btn {
        border-radius: 10px;
        background: linear-gradient(145deg, #232c62, #1e2553);
        box-shadow:  5px 5px 10px #141937, 
                     -5px -5px 10px #2e3981;
       &:active{
        border-radius: 10px;
        background: #21295C;
        box-shadow: inset 5px 5px 10px #141937, 
                    inset -5px -5px 10px #2e3981;
       }
    }
}