nav {
    // box-shadow: 1px 1px 15px 1px currentColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: map-get($map: $brand-clr, $key: bg);

    .brand__logo {
        
        padding: .75rem;
        img {
            max-width: 140px;
            min-width: 55px;
        }

    }



    // @media (max-width: 550px) {
    //     display: flex;
    // }

    .navbar__links {

        ul{
            margin: .2rem  2rem 0 0;
            display: flex;
            

            li {
                a {
                    text-transform: uppercase;
                    display: flex;
                    padding: .65rem .7rem; 
                    margin: 0 .4rem;
                    display: block;

                    &:visited {
                        color: currentColor;
                    }
                    &:hover {
                        background-color: map-get($map: $brand-clr, $key: primary);
                        color: map-get($map: $brand-clr, $key: bg);
                        border-radius: 5px;
                    }
                }
            }

            .active {
                    background-color: map-get($map: $brand-clr, $key: primary);
                    color: map-get($map: $brand-clr, $key: bg);
                    border-radius: 5px;
            }
            
        }
    }
    

    .toggle-button {
        position: absolute;
        top: 2rem;
        right: 1rem;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 31px;
        height: 21px;

        .bar {
            height: 3px;
            width: 100%;
            background-color: map-get($map: $brand-clr, $key: primary);
            border-radius: 10px;
        }
    }

    @media (max-width: 550px) {
        flex-direction: column;
        align-items: flex-start;
        color: map-get($map: $brand-clr, $key: primary);
        
        .toggle-button {
            display: flex;
        }

        .navbar__links {
            display: none;
            width: 100%;
            height: 130vh;
            font-size: 1.3em;
            

            ul {
                margin: 0;
                width: 100%;
                flex-direction: column;
            }

            li {
                text-align: center;
            }

            &.active {
                display: flex;
            }
        }
    }
}